@import url('https://fonts.googleapis.com/css?family=Raleway|Sen&display=swap');

// 1. Your custom variables and variable overwrites.
//$global-link-color: #DA7D02;
$global-color: #1b262c;
$global-inverse-color: #dbedf3;
$global-emphasis-color: #90b8f8;

$global-primary-background: #00818a;
$global-muted-background: #90b8f8;

$global-muted-color: #90b8f8;

$global-background: #404b69;
$global-secondary-background: #283149;

$global-font-family: 'Raleway', 'Sen', sans-serif;


// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { border-radius: 3%; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
